<div class="col-lg-12">
<%= simple_form_for(@tov) do |f| %>
<%= f.input :title, wrapper_html: { class: 'col-lg-12' }%>
<div class="col-lg-7">
    <%= f.input :fid, wrapper_html: { class: 'col-lg-3' }%>
    <%= f.input :sku, wrapper_html: { class: 'col-lg-3' } %>
    <%= f.input :link, wrapper_html: { class: 'col-lg-6' } %>
    <%= f.input :cat, wrapper_html: { class: 'col-lg-6' } %>
    <%= f.input :cat1, wrapper_html: { class: 'col-lg-6' } %>
    <%= f.input :cat2, wrapper_html: { class: 'col-lg-6' } %>
    <%= f.input :cat3, wrapper_html: { class: 'col-lg-6' } %>
    <%= f.input :p1, wrapper_html: { class: 'col-lg-6' } %>
    <%= f.input :p2, wrapper_html: { class: 'col-lg-6' } %>
    <%= f.input :p3, wrapper_html: { class: 'col-lg-6' } %>
    <%= f.input :p4, wrapper_html: { class: 'col-lg-6' } %>
    <%= f.input :mtitle %>
    <%= f.input :mdesc %>
    <%= f.input :mkeyw %>
    <%= f.input :linkins, wrapper_html: { class: 'col-lg-6' } %>
    <%= f.input :insid, wrapper_html: { class: 'col-lg-6' } %>
</div>
<div class="col-lg-5">
    <%= f.input :oldprice, wrapper_html: { class: 'col-lg-6' } %>
    <%= f.input :price, wrapper_html: { class: 'col-lg-6' } %>
    <%= f.input :sdesc, as: :text, :input_html => { class: 'sdesc', :cols => 5, :rows => 3 }%>
    <%= f.input :desc, as: :text, :input_html => { class: 'desc', :cols => 5, :rows => 17 } %>
    <%= f.input :pict, as: :text, :input_html => { class: 'sdesc', :cols => 5, :rows => 3 } %>
  </div>

  <div class="col-lg-12 form-actions">
    <%= link_to t('back'), tovs_path , class: 'btn btn-default btn-sm'%>
    <%= f.button :submit, class: 'btn btn-success btn-sm' %>
  </div>
<% end %>
</div>