<p id="notice"><%= notice %></p>

<p>
  <strong>Fid:</strong>
  <%= @tov.fid %>
</p>

<p>
  <strong>Link:</strong>
  <%= @tov.link %>
</p>

<p>
  <strong>Title:</strong>
  <%= @tov.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @tov.desc %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tov.price %>
</p>

<p>
  <strong>Pict:</strong>
  <%= @tov.pict %>
</p>

<p>
  <strong>Cat:</strong>
  <%= @tov.cat %>
</p>

<p>
  <strong>P1:</strong>
  <%= @tov.p1 %>
</p>

<p>
  <strong>P2:</strong>
  <%= @tov.p2 %>
</p>

<p>
  <strong>P3:</strong>
  <%= @tov.p3 %>
</p>

<p>
  <strong>Linkins:</strong>
  <%= @tov.linkins %>
</p>

<%= link_to 'Edit', edit_tov_path(@tov) %> |
<%= link_to 'Back', tovs_path %>
